<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pamela Gomes - Technical Support Engineer</title>
    <meta
      name="description"
      content="The current webpage aims to provide an introductory information about Pamela Gomes, her Country and important links regarding WDD 131 - Dynamic Web Fundamentals course from BYU-Idaho"
    />
    <meta name="author" content="Pamela Gomes" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/index.css" />
    <!-- <script src="scripts/getdates.js" defer></script> -->
  </head>
  <body>
    <div class="main-div">
      <header>
        <h1>PAMELA GOMES - TECHNICAL SUPPORT ENGINEER</h1>
        <nav class="navigation-bar">
          <a href="./career.html">Career</a>
          <a href="https://www.linkedin.com/in/pamela-tech/">LinkedIn</a>
          <a href="mailto:pamela@pucinelli.dev" target="_blank">Contact Me</a>
        </nav>
      </header>
      <main>
        <section class="card" id="professional-experience">
          <h2>PROFESSIONAL EXPERIENCE</h2>
          <p>
            Pamela Gomes is a Technical Support professional with over 3 years
            of experience in corporate and multinational environments, working
            at both Level 1 and Level 2. She is fluent in English, Spanish, and
            Portuguese, and has supported users from over 80 nationalities. She
            has hands-on experience supporting internal and SaaS applications,
            managing performance metrics, building knowledge bases, and
            resolving incidents related to automation and access control. 
          </p>
          <p>
            Pamela handles daily technical communications with clients and manages
            multiple ongoing cases, with a strong focus on accurate ticket
            categorization, root cause analysis, and collaboration with
            development, product, and operations teams. In addition to her
            technical background, Pamela has led international teams and
            provided academic mentoring in volunteer and educational settings.
            She coordinated language tutoring programs, monitored team
            performance, and implemented support and engagement strategies.
          </p>
          <p>Pamela is currently focused on transitioning into software
            development. She is actively studying programming and expanding her
            technical skills with the goal of becoming a software developer and
            contributing to the development of robust, scalable applications.
          </p>
          <hr />
          <h2>TECHNOLOGIES</h2>
          <div class="tech-container">
            <div class="tech-logos" id="tech-logos">
              <div class="tech-item">
                <img src="./images/html.svg" alt="HTML" />
                <span class="caption">HTML5</span>
              </div>

              <div class="tech-item">
                <img src="./images/css.svg" alt="CSS" />
                <span class="caption">CSS3</span>
              </div>

              <div class="tech-item">
                <img src="images/javascript.svg" alt="JavaScript" />
                <span class="caption">JavaScript</span>
              </div>

              <div class="tech-item">
                <img src="images/python.svg" alt="Python" />
                <span class="caption">Python</span>
              </div>

              <div class="tech-item">
                <img src="images/sql.svg" alt="SQL" />
                <span class="caption">SQL</span>
              </div>

              <div class="tech-item">
                <img src="images/mysql.svg" alt="MySQL" />
                <span class="caption">MySQL</span>
              </div>

              <div class="tech-item">
                <img src="images/graphql.svg" alt="GraphQL" />
                <span class="caption">GraphQL</span>
              </div>

              <div class="tech-item">
                <img src="images/macos.svg" alt="MacOS" />
                <span class="caption">MacOS</span>
              </div>

              <div class="tech-item">
                <img src="images/windows.svg" alt="Windows" />
                <span class="caption">Windows</span>
              </div>

              <div class="tech-item">
                <img src="images/twilio.svg" alt="Twilio" />
                <span class="caption">Twilio</span>
              </div>

              <div class="tech-item">
                <img src="images/stripe.svg" alt="Stripe" />
                <span class="caption">Stripe</span>
              </div>

              <div class="tech-item">
                <img src="images/zendesk.svg" alt="Zendesk" />
                <span class="caption">Zendesk</span>
              </div>

              <div class="tech-item">
                <img src="images/servicenow.svg" alt="ServiceNow" />
                <span class="caption">ServiceNow</span>
              </div>

              <div class="tech-item">
                <img src="images/bitrix.svg" alt="Bitrix" />
                <span class="caption">Bitrix</span>
              </div>

              <div class="tech-item">
                <img src="images/teams.svg" alt="Teams" />
                <span class="caption">Teams</span>
              </div>

              <div class="tech-item">
                <img src="images/slack.svg" alt="Slack" />
                <span class="caption">Slack</span>
              </div>

              <div class="tech-item">
                <img src="images/canva.svg" alt="Canva" />
                <span class="caption">Canva</span>
              </div>

              <div class="tech-item">
                <img src="images/trello.svg" alt="Trello" />
                <span class="caption">Trello</span>
              </div>

              <div class="tech-item">
                <img src="images/brazil.svg" alt="Portuguese" />
                <span class="caption">Portuguese</span>
              </div>

              <div class="tech-item">
                <img src="images/united-states.svg" alt="English" />
                <span class="caption">English</span>
              </div>

              <div class="tech-item">
                <img src="images/spain.svg" alt="Spanish" />
                <span class="caption">Spanish</span>
              </div>

              <!-- <div class="tech-item">
                <img src="images/" alt="">  
                <span class="caption"></span>
              </div> -->

              <!-- Segunda sequencia de imagens -->
              <div class="tech-item">
                <img src="./images/html.svg" alt="HTML" />
                <span class="caption">HTML5</span>
              </div>

              <div class="tech-item">
                <img src="./images/css.svg" alt="CSS" />
                <span class="caption">CSS3</span>
              </div>

              <div class="tech-item">
                <img src="images/javascript.svg" alt="JavaScript" />
                <span class="caption">JavaScript</span>
              </div>

              <div class="tech-item">
                <img src="images/python.svg" alt="Python" />
                <span class="caption">Python</span>
              </div>

              <div class="tech-item">
                <img src="images/sql.svg" alt="SQL" />
                <span class="caption">SQL</span>
              </div>

              <div class="tech-item">
                <img src="images/mysql.svg" alt="MySQL" />
                <span class="caption">MySQL</span>
              </div>

              <div class="tech-item">
                <img src="images/graphql.svg" alt="GraphQL" />
                <span class="caption">GraphQL</span>
              </div>

              <div class="tech-item">
                <img src="images/macos.svg" alt="MacOS" />
                <span class="caption">MacOS</span>
              </div>

              <div class="tech-item">
                <img src="images/windows.svg" alt="Windows" />
                <span class="caption">Windows</span>
              </div>

              <div class="tech-item">
                <img src="images/twilio.svg" alt="Twilio" />
                <span class="caption">Twilio</span>
              </div>

              <div class="tech-item">
                <img src="images/stripe.svg" alt="Stripe" />
                <span class="caption">Stripe</span>
              </div>

              <div class="tech-item">
                <img src="images/zendesk.svg" alt="Zendesk" />
                <span class="caption">Zendesk</span>
              </div>

              <div class="tech-item">
                <img src="images/servicenow.svg" alt="ServiceNow" />
                <span class="caption">ServiceNow</span>
              </div>

              <div class="tech-item">
                <img src="images/bitrix.svg" alt="Bitrix" />
                <span class="caption">Bitrix</span>
              </div>

              <div class="tech-item">
                <img src="images/teams.svg" alt="Teams" />
                <span class="caption">Teams</span>
              </div>

              <div class="tech-item">
                <img src="images/slack.svg" alt="Slack" />
                <span class="caption">Slack</span>
              </div>

              <div class="tech-item">
                <img src="images/canva.svg" alt="Canva" />
                <span class="caption">Canva</span>
              </div>

              <div class="tech-item">
                <img src="images/trello.svg" alt="Trello" />
                <span class="caption">Trello</span>
              </div>

              <div class="tech-item">
                <img src="images/brazil.svg" alt="Portuguese" />
                <span class="caption">Portuguese</span>
              </div>

              <div class="tech-item">
                <img src="images/united-states.svg" alt="English" />
                <span class="caption">English</span>
              </div>

              <div class="tech-item">
                <img src="images/spain.svg" alt="Spanish" />
                <span class="caption">Spanish</span>
              </div>
            </div>
          </div>
        </section>

        <section class="card" id="projects">
          <h2>PERSONAL PROJECTS</h2>
          <img src="./images/pamela-AI.png" alt="Pamela Gomes" />
          <ul>
            <li>
              <a href="https://ms-pucinelli.github.io/mimc/"
                >MIMC - My Body Mass Index Calculator</a
              >
            </li>
          </ul>
        </section>
      </main>
      <footer>
        <h4>&copy;<span id="currentyear"></span> Pamela Gomes</h4>
        <!-- <h5>Last Modification: <span id="lastupdated"></span></h5> -->
      </footer>
    </div>
  </body>
</html>
